.gemstones {
	width: 200px;
	height: auto;
	border: 1px dashed black;
}

#imagerow {
	padding-bottom: 25px;
}

.container {
	padding-top: 25px;
}
header {
	text-align:center;
	padding-bottom: 25px;
	padding-top: 10px;
	background-image: url('../images/gemstone.jpg');
	color: #ececc3;
}

body {
	background: #808080;
	color: #ececc3;
}

p {
	font-size: 20px;
}

h1 {
	font-size: 48px;
}